// These colors are specific to the theme. Do not use in a package!

@white: #ffffff;
@very-light-gray: #c0c0c0;
@light-gray: #808080;
@gray: #555555;
@dark-gray: #424242;
@very-dark-gray: #303030;
@black: #000000;

@cyan: #00cccc; // Robin egg blue
@blue: #6495ed; // cornflower blue
@teal: #008080;
@purple: #df73ff; // heliotrope
@green: #00a000;
@red: #cc6666; // fuzzy wuzzy
@brown: #a67b5b;
@orange: #ff8f00; // Princeton orange
@light-orange: #f0c674;
@yellow: #ffcc33; // sunglow
