// These colors are specific to the theme. Do not use in a package!

@white: #ffffff;
@very-light-gray: #b0b0b0;
@light-gray: #707070;
@gray: #454545;
@dark-gray: #303030;
@very-dark-gray: #232323;
@black: #000000;

@cyan: #8abeb7;
@blue: #6495ed;
@teal: #008080;
@purple: #ee82ee;
@green: #009000;
@red: #cc6666;
@orange: #ff8c00;
@light-orange: #f0c674;
@yellow: #daa520;
